{% extends "base_script_4.html" %}
{% block content %}

        <main>
            <div class="col-5" style="background-color: white; padding: 1em; border-radius: 1.2em">
                <h2>Datos de usuario:</h2>
                <form action="/update/user" method="POST">
                    <div>
                        <label>Nombre:</label>
                        <input type="text" name="first_name" class="form-control" value="{{user.first_name}}">
                    </div>
                    <div>
                        <label>Apellido:</label>
                        <input type="text" name="last_name" class="form-control" value="{{user.last_name}}">
                    </div>
                    <div>
                        <label>Email:</label>
                        <input type="email" name="email" class="form-control" value="{{user.email}}">
                    </div>
                    <div>
                        <input type="hidden" name="id" value="{{session['user_id']}}">
                        <input type="submit" value="Actualizar" class="btn mt-2" style="background-color: #ffde59;">
                    </div>
                </form>
            </div>
        </main>
{% endblock %} 