{% extends "base_script_4.html" %}
{% block content %}

        <main>
            <div class="container">
                <div class="card m-2 col-5 rounded-3 h-16em d-flex">
                    <img src="{{url_for('static', filename='img/'+product.image)}}" class="card-img-top" alt="Empresa1">
                    <div class="card-body d-block justify-content-center">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p style="font-size: 1em;">{{product.description}}</p>
                    </div>
                    <div>
                        <a href="/company/{{product.company_id}}" class="btn m-3" style="background-color: #ffde59; color:#343333">Ver empresa</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
